@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,900&display=swap");
.one {
  width: 100vw;
  height: 130vh;
  position: relative;
  overflow-x: hidden;
}

.main-logo-heading {
  position: absolute;
  top: 100px;
  left: 10%;
}

@keyframes grow-top {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}

.logo {
  background-image: url("../../assets/images/logo/top-logo.png");
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95% 95%;
  animation: grow-top 1s forwards;
}

.rainbow {
  background-image: url("../../assets/images/BackGround\ Images/20127.png");
  width: 80vw !important;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: grow-right 1s forwards;
}

@keyframes grow-right {
  0% {
    width: 0;
  }
  100% {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .rainbow {
    background-size: cover;
    width: 100vw !important;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50vh;
  left: -140px;
  transform: rotate(270deg);
  z-index: 100;
  animation: from-left 1s forwards;
}

@keyframes from-left {
  0% {
    left: -100vw;
  }
  100% {
    left: -140px;
  }
}

.button-container {
  position: absolute;
  bottom: 230px;
  right: 30%;
  transform: translateX(-30%);
}

.social-links p {
  margin-left: 30px;
  margin-top: -10px;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .main-logo-heading {
    top: 100px;
    left: 70px;
  }
  .main-logo-heading .logo {
    width: 90px;
    min-height: 50px;
    max-height: 80px;
  }
  .one {
    height: 100vh;
  }
  .button-container {
    bottom: 100px;
  }
  .social-links {
    left: -110px !important;
  }
  .social-links div {
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 0;
  }
}

.hamburgur-container {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.green-hover:hover {
  transition: all 0.3s ease-out;
  color: #77bf51 !important;
}

.red-hover:hover {
  transition: all 0.3s ease-out;
  color: #fe5578 !important;
}

.yellow-hover:hover {
  transition: all 0.3s ease-out;
  color: #ddc736 !important;
}

.social-icons-main {
  width: fit-content;
  height: fit-content;
  padding: 10px;
}
