.controlled {
  max-width: 750px;
  margin-left: 100px;
  transform: rotate(5deg);
}

@font-face {
  font-family: "Pistilli-Roman";
  src: url("../../assets/Font/Pistilli-Roman\ \(numbers\)/Pistilli-Roman.otf")
    format("opentype");
}

.number {
  font-family: "Pistilli-Roman";
  font-size: 200px !important;
}

.each-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-left: 50px; */
  max-width: 100vw;
}
.odd {
  justify-content: flex-end;
}
.para {
  max-width: 600px;
  padding: 10px;
}

.empty-div {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/images/Chidren/brain.png");
  background-position: center center;
  background-size: 100% 100%;
  background-color: transparent !important;
  margin: 0 40px;
}
.brain-2 {
  background-image: url("../../assets/images/Chidren/brain-2.png");
}
.brain-3 {
  background-image: url("../../assets/images/Chidren/brain-3.png") !important;
}
.odd-part .empty-div {
  background-image: url("../../assets/images/Chidren/red-brain.png");
}
/* .empty-div-img {
  width: 200px;
  height: 200px;
  color: red;
  filter: grayscale(100%);
  filter: saturate(3);
  filter: contrast(160%);
  filter: brightness(0.25);
  filter: blur(3px);
  filter: invert(100%);
  filter: sepia(100%);
  filter: hue-rotate(180deg);
  filter: opacity(50%);
} */

.part-1 {
  width: 120vw;
  margin-left: -70px;
  transform: rotate(5deg);
  margin-top: 70px;
  min-height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.part-3 {
  width: 120vw;
  margin-left: -70px;
  transform: rotate(-5deg);
  margin-top: 70px;
  min-height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1050px) and (min-width: 701px) {
  .empty-div {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .odd {
    flex-direction: column-reverse;
  }
  .number {
    font-size: 70px !important;
    position: relative;
    left: 0;
    top: 0;
  }
  .controlled {
    margin: auto;
    padding: 10px;
  }
  .para {
    max-width: 550px;
  }
  .controlled h1 {
    font-size: 20px !important;
  }
  .each-row {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 100px !important;
    position: relative;
  }
  .part-3,
  .part-1 {
    margin-left: -100px;
    margin-top: 10px;
    width: 150vw;
    padding: 100px 10px;
  }
}

@media (max-width: 700px) {
  .empty-div {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .number {
    font-size: 70px !important;
    position: relative;
    left: 0;
    top: 0;
  }
  .controlled {
    margin: auto;
    padding: 10px;
  }
  .controlled h1 {
    font-size: 20px !important;
  }
  .each-row {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 100px !important;
    position: relative;
  }
  .odd {
    flex-direction: column-reverse;
  }
  .part-3,
  .part-1 {
    margin-left: -100px;
    margin-top: 10px;
    width: 150vw;
    padding: 100px 10px;
  }
}

.no-rotate {
  transform: rotate(-5deg);
}

.no-rotate-2 {
  transform: rotate(5deg);
}
